
.main-menu {
  width: 100%;
  height: 100%;
  position: relative;
}

.main-menu > div.menu-container {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-menu > div.menu-container > .section {
  padding: 1rem 2rem 3rem 2rem;
  margin: 0 1.5rem;
  width: 25%;
  max-width: 350px;
  min-width: 275px;
  background-color: var(--blue-darken-4);
  border: 3px solid var(--indigo-darken-4);
  border-radius: 4px;
}

.main-menu > div.menu-container > .section h4 {
  color: white;
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: .5rem;
}

.main-menu ul {
  padding: 0;
  margin: 0;
}

.main-menu li svg, .main-menu li .svg-container {
  margin-left: auto;
  fill: var(--red-darken-1);
}

.main-menu li svg:hover {
  fill: var(--red-darken-4);
}

.main-menu li {
  cursor: pointer;
  list-style-type: none;
  display: flex;
  margin: .25rem 0;
  padding: .35rem;
  text-align: center;
  background-color: var(--cyan-lighten-4);
  border: 3px solid var(--cyan-darken-1);
  border-radius: 4px;
}

.main-menu li.selectable {
  background-color: var(--cyan-lighten-5);
  animation: border-selectable 1s;
  animation-iteration-count: infinite;
}

.main-menu li.selectable.selected {
  background-color: var(--cyan-lighten-3);
  border-color: var(--cyan-darken-2);
  animation: none;
}

.main-menu .overlay {
  background-color: #0003;
}

.main-menu .overlay h1 {
  color: white;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-menu form.create-file {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50%;
  padding: 2rem;
  padding-bottom: 3rem;
  background-color: var(--blue-darken-4);
  border: 3px solid var(--indigo-darken-4);
  border-radius: 4px;
}

@keyframes border-selectable {
  from { border-color: var(--teal-lighten-3) }
  50% { border-color: var(--teal-darken-1) }
  to { border-color: var(--teal-lighten-3) }
}

.mass-export-btn.cancel {
  background-color: var(--red-lighten-3);
  border-color: var(--red-darken-2);
}
.mass-export-btn.start {
  background-color: var(--green-lighten-2);
  border-color: var(--green-darken-3);
}

.mini-export-info {
  color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 12rem;
}

.section .overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.section .loading-bar-container {
  height: 1.5rem;
  padding: .2rem;
  margin: 0 auto;
  width: 80%;
  border: 3px solid white;
  border-radius: 5rem;
  position: relative;
  overflow: hidden;
}

.section .loading-bar {
  height: 100%;
  background-color: white;
  border-radius: 5rem;
}

.section .loading-bar-percentage {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 1rem 0 .5rem;
  background-color: rgba(0,0,0,0.75);
  color: white;
}
